<h1>Welcome to the Invoice and Reporting Management System</h1>
<p>This application helps you manage invoices, view and print them  using ASP.NET Core MVC.</p>

<div class="row">
    <div class="col-md-6">
        <p><strong>Application Features</strong></p>
        <ul>
            <li>View Add Invoice with Products </li>
            <li>View user invoices</li>
            <li>print Invoice</li>
        </ul>
    </div>
</div>





