
@model NQTASK.Models.ViewModels.Product.ProductInfoVM


        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
        </tr>

